Daily Weather App.json
{
  "name": "Daily Weather App",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5be242f3-54de-4283-a96e-886e7900ff76",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "cityName": "london"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "44745641-454e-499e-aba1-3ded7730c177",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "y5cAQEjG5640H0wQ",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ahlan0883@gmail.com",
        "subject": "Weather Report",
        "message": "=Good morning ! the cureesent temperature is  {{ $json.main.temp }} in {{ $json.name }} with a temperature range of {{ $json.main.temp_min }} to {{ $json.main.temp_max }} and it feels like {{ $json.main.feels_like }} ",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "c576f3dd-5e73-4196-8c94-ef3f6a2e6f50",
      "name": "Send a message",
      "webhookId": "533fbe1f-4cf5-431b-a423-30cf4a678a45",
      "credentials": {
        "gmailOAuth2": {
          "id": "D1gLISYNd0deAzng",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bfee41aa-4e04-4f3b-b25e-cb9439055552",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "45a7b8c441c6d875684539ccd570762b3f37209f94df64349d52218735ff5a99"
  },
  "id": "2o6mRx7aIDteDIpK",
  "tags": []
}